main{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.logo_carro{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.borda{
    background: #E9EEF7;
    box-shadow: 3px 3px 13px #CBDBE8, -3px -3px 13px #FFFFFF;
    border-radius: 10px;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    
}
.informacoes_cadastro{
    text-align: center;
}

input{
    font-family: 'Quicksand';
    margin-top: 40px;
    background: #E9EEF7;
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    border-radius: 10px;
    border-color: #E9EEF7;
    width: 650px;
    height: 50px;
    color:  #688699;
    font-size: 24px;
    border: 0px;
}

button{
    background: #F55E5E;
    box-shadow: 3px 3px 7px rgba(245, 94, 94, 0.56);
    border-radius: 10px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    margin-top: 40px;
    font-size: 24px;
    font-family: 'Quicksand';
}