<main>
        <div class="alteracoes_logo">
            <div class="logo_carro">
                <img src="../../assets/img/Group 1.png">
            </div>
        </div>
        <div class="borda">
            <div class="informacoes_cadastro">
                <input placeholder="Nome completo">
                <br>
                <input type="text" placeholder="Telefone">
                <br>
                <input placeholder="E-mail">
                <a><button>Cadastrar</button></a>
            </div>
        </div>
</main>
