<header>
    <!-- fazendo o facil acesso na parte da esquerda -->
    <div class="acessoEsquerda">
        <p class="facilAcesso">Home</p>
        <p class="facilAcesso">Carros</p>
        <p class="facilAcesso">Reservas</p>
    </div>
    <!-- criando div para determinar tamanho e posição das imagens da logo -->
    <div class="loccarlogo">
        <img src="../../assets/headerIMG/Loc.png">
        <img src="../../assets/headerIMG/CAR.png">
    </div>
    <!-- fazendo o facil acesso na parte da direita -->
    <div class="acessoDireita">
        <p class="facilAcesso">Locadoras</p>
        <p class="facilAcesso">Perfil</p>
        <p class="facilAcesso">Sair</p>
    </div>
</header>