header{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.loccarlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 200px;
    background-color: white;
}