<header>
    <!-- fazendo o facil acesso na parte da esquerda -->
    <div class="acessoEsquerda">
        <p class="facilAcesso" routerLink="/home">Home</p>
        <p class="facilAcesso" routerLink="/carros">Carros</p>
        <p class="facilAcesso" routerLink="/reservas">Reservas</p>
    </div>
    <!-- criando div para determinar tamanho e posição das imagens da logo -->
    <div class="loccarlogo">
        <img src="../../assets/cadastroIMG/Group 1.png">
    </div>
    <!-- fazendo o facil acesso na parte da direita -->
    <div class="acessoDireita">
        <p class="facilAcesso" routerLink="/Locadora">Locadoras</p>
        <p class="facilAcesso" routerLink="/perfil">Perfil</p>
        <p class="facilAcesso" routerLink="/home">Sair</p>
    </div>
</header>