<footer>
    <div class="contato">
        <p class="txtBottom politica">Política de Segurança </p>
        <p class="txtContato">31 99999 9666 - </p>
        <p class="txtBottom txtContato"> contato@divinafashion.com</p>
        <p>AV. Principal, 123 . BH/MG</p>
    </div>
    
    <div class="informacoes">
        <p>Trabalhe Conosco</p>
        <p>PROCON</p>
    </div>

    <div class="redesSociais">
        <img src="../../assets/footerIMG/instagram 2.png">
        <img src="../../assets/footerIMG/f_1_.png">
        <img src="../../assets/footerIMG/twitter 2.png">
    </div>

    <p class="eduSync">EduSync © Todos os direitos reservados</p>
</footer>
