<main>
    <!-- criando a div de pefil -->
    <form>
        <div class="perfil">
            <!-- criando o título -->
            <p class="perfilTxt">Perfil</p>
        <!-- crinaod os inputs para receber cadastro e atualizar -->
            <input type="text" placeholder="Digite seu nome aqui">
            <input type="text" placeholder="(00) 0000-0000">
            <input type="email" placeholder="seuemail@gmial.com">
            <!-- criando o botão de atualizar registro-->
            <button class="buttomAtualizar" type="submit">Atualizar</button>
        </div>
    </form>

    <!-- criando a div de -->
    <form>
        <div class="usuarios">
            <!-- criando titulo -->
            <p class="usuariosTxt">Usuários Cadastrados</p>
            <!-- criando área de usuarios cadastrados -->
            <div class="informacoesClientes">
                <!-- aqui fica as informações dos clientes -->
                <p>Kaito Lowa</p>
                <p>(11) 9999-9090</p>
                <p>exemplo@gmail.com</p>
                <!-- botão para exluir registro -->
                <button class="buttomExcluir">Excluir usuário</button>
            </div>
        </div>
    </form>
</main>