<app-header></app-header>
<main>
    <!-- criando a div de pefil -->
    <div>
        <form [formGroup]="form" class="perfil">
            <!-- criando o título -->
            <p class="perfilTxt">Perfil</p>
            <!-- crinaodo os inputs -->
            <input type="text" class="inputNome" placeholder="Digite seu nome aqui" formControlName="nome">
            <input type="text" class="inputTelefone" placeholder="(00) 0000-0000" formControlName="numero">
            <input type="email" class="inputEmail" placeholder="seuemail@gmail.com" formControlName="email">
            <!-- criando o botão de atualizar registro-->
            <button class="buttomAtualizar" type="submit" (click)="editarADM()">Atualizar</button>
        </form>
    </div>

    <!-- criando a div de -->
    <div class="usuarios">
        <!-- criando titulo -->
        <p class="usuariosTxt">Usuários Cadastrados</p>
        <!-- criando área de usuarios cadastrados -->
        <div class="informacoesClientes" *ngFor="let adm of listaUsuarios; index as i;" (click)="pegarDados(adm)">
            <!-- aqui fica as informações dos clientes -->
            <p class="txt">{{adm.nome}}</p>
            <p class="txt">{{adm.numero}}</p>
            <p class="txt">{{adm.email}}</p>
            <!-- botão para exluir registro -->
            <button class="buttomExcluir" (click)="deletarADM(adm.id)">Excluir usuário</button>
        </div>
    </div>
</main>