<body>
    <main>
        <div class="login">
            <form [formGroup]="form" (ngSubmit)="getItem()">

                <p class="frase">Este portal oferece uma experiência única, segura e oferta um serviço de qualidade!</p>
                <div class="email_senha">
                    <input type="text" class="inp" formControlName="email" placeholder="Email">
                    <input type="password" class="inp" formControlName="senha" placeholder="Senha">
                </div>
                <button type="submit" class="botao">Login</button>
            </form>
        </div>
    </main>
</body>