<main>
    <!-- essa div é para o fundo -->
    <div class="tudo_da_parte_de_cima">
        <h1>reservas</h1>
        <div class="carro">
            <input class="carro_input" type="text" id="Onix 2.0" placeholder="Onix 2.0">
        </div>
        <br>
        <br>
        <!-- espaso entre eles -->
        <div class="hora_data_devolucao">
            <input class="hora_data_devolucao_input" type="text" id="Data da reserva" placeholder="Data da reserva">
            <input class="hora_data_devolucao_input" type="text" id="Horário da reserva" placeholder="Horário da reserva">
            <input class="hora_data_devolucao_input" type="text" id="Data da devolução" placeholder="Data da devolução">
        </div>
        <br>

        <!-- opção de locadora -->
        <div class="botao_locadora">
            <select class="locadora" id="locadora_final" name="Selecione a locadora filial">
                <option>Selecione a locadora filial</option>
                <option value="Ágil Rent a Car">Ágil Rent a Car</option>
                <option value="Alukauto Rent a Car">Alukauto Rent a Car</option>
                <option value=" BM Rent a Car"> BM Rent a Car</option>
                <option value="Plus Rent a Car">Plus Rent a Car</option>
            </select>

            <button class="botao_cadastra">cadastrar</button>
        </div>
    </div>

    <!-- parte dois do site, CARROS RESERVADOS -->
    <div class="segunda_parte">
        <h1>Reservas cadastradas</h1>

        <div class="imagem">
            <img src="../../assets/carro DESAFIO FINAL.png" alt="topo">

        </div>
    </div>
</main>