<!-- lucas -->
<main>
    <div class="reservas">
        <p class="titulo">Reservas</p>
        <form [formGroup]="form" ngNativeValidate>
            <div class="tamamho">
                 <div class="tamanho_N">
                    <input type="text" class="nome" placeholder="Onix 2.0">
                </div>
                 <div class="tamanho_DHD">
                    <input type="text" class="DHD" placeholder="Data da reserva" formControlName="data" required>
                    <input type="text" class="DHD" placeholder="Horário da reserva" formControlName="horario" required>
                    <input type="text" class="DHD" placeholder="Data da devolução" formControlName="dataentrega" required>
                </div> 
            </div>
            <div class="select_e_botao">
                <select class="select">
                    <option value="0" disabled>Selecione a locadora filial</option>
                </select>
                <button type="submit" class="botao" *ngIf="Cadastro" (click)="CadastrarReservas()">Cadastrar</button>
            </div>
        </form>
    </div>
    <div class="reservas_cadastradas">
        <div class="reservas">
            <div class="ajuste">
                <p class="titulo2">Reservas cadastradas</p>
                <div class="linha"></div>
            </div>
            <div class="cadastrados" *ngFor="let item of listaReserva ; index as i;">
                <img src="../../assets/car3 2.png" class="img">

                <div class="dhd"  >
                    <p class="SubTitulo">Fiat Uno 1.0</p>
                    <p class="espaco">{{item.data}}</p>
                    <p class="font">{{item.horario}}</p>
                    <p class="font">{{item.dataentrega}}</p>                   
                </div>
                <div class="botao_e">
                    <button type="submit" class="excluir"(click)="DeletarReserva(item.id)">Excluir reserva</button>
                </div>
            </div>
        </div>
    </div>
</main>