.form {
    width: 1200px;
    height: 580px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    background: #E9EEF7;
    box-shadow: 3px 3px 13px #CBDBE8, -3px -3px 13px #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;

}

select {

    width: 650px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background: #E9EEF7;
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    border: none;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #39A9F0;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

option::placeholder {
    display: flex;
    align-items: flex-start;
}

select:focus {
    background: #E9EEF7;
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.78), inset 3px 3px 6px #CBDBE8;
    border-radius: 10px;
    border: none;
    outline: none;
}

.selectMenor {
    width: 456px;
    height: 50px;
    margin-top: 20px;
}

.titulo {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */

    text-align: center;

    color: #4A6D84;
}

.tituloCard {
    margin-top: 40px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */


    color: #4A6D84;
}

.linha {
    width: 300px;
    border: 1px solid #4A6D84;
    margin-top: 20px;
}

input {
    width: 650px;
    height: 50px;
    background: #E9EEF7;
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

input:focus {
    background: #E9EEF7;
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.78), inset 3px 3px 6px #CBDBE8;
    border-radius: 10px;
    border: none;
    outline: none;
}

input::placeholder {
    width: 169px;
    height: 30px;
    /* Texto */

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #4A6D84;

}

.flex {
    display: flex;

}

.inputMenor,
.inputMenorPortas {
    width: 315px;
    height: 50px;
    margin-top: 20px;
}

.inputMenorPortas::placeholder {
    width: 80px;
}

.inputMenor::placeholder {
    width: 200px;
}

.cadastrar {
    width: 170px;
    height: 50px;
    color: white;
    border: none;
    margin-top: 20px;
    /* Primária */

    background: #F55E5E;
    box-shadow: 3px 3px 7px rgba(245, 94, 94, 0.56);
    border-radius: 10px;
}

.cadastrar:hover {
    background: #c76060;
    ;
}

.card {
    width: 350px;
    height: 572px;

    background: #E9EEF7;
    box-shadow: 3px 3px 13px #CBDBE8, -3px -3px 13px #FFFFFF;
    border-radius: 10px;

    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.todosCards {
    width: 1200px;
    height: 2250px;
    margin: auto;
    background: #E9EEF7;
    box-shadow: 3px 3px 13px #CBDBE8, -3px -3px 13px #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
}

.subtitulo {
    margin-top: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;


}

.text {
    margin-top: 20px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #040404;
}


.editar {
    width: 266px;
    height: 50px;

    background: #E9EEF7;
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    border-radius: 10px;
    border: none;
    color: rgb(57, 169, 240);
    margin-top: 15px;
}

.editar:focus {

    background: #E9EEF7;
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.78), inset 3px 3px 6px #CBDBE8;
    border-radius: 10px;
    border: none;

}
.submitEditar{
    width: 170px;
    height: 50px;
    color: white;
    border: none;
    margin-top: 20px;
    /* Primária */

    background: rgb(57, 169, 240);;
    box-shadow: 3px 3px 7px rgb(57, 169, 240);
    border-radius: 10px;
}

.excluir {
    width: 266px;
    height: 50px;

    background: #E9EEF7;
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    border-radius: 10px;
    border: none;
    color: #F55E5E;
    margin-top: 15px;
}

.excluir:focus {
    background: #E9EEF7;
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.78), inset 3px 3px 6px #CBDBE8;
    border-radius: 10px;
    border: none;
}

.maxWidth {
    margin: auto;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}