<app-header></app-header>
<main>
    <!-- Parte do botao login e cadastro -->
    <div class="conta">
    <!-- -->   
        <img src="../../assets/Group 2.png" >
        <div class="botoes">
        <button>Login</button>
        <button routerLink="/cadastro">Cadastrar</button>
        </div>
    </div>
        <p class="titulo">Carros Ofertados</p>
    <div class="cards">
        <div class="card">
            <img src="../../assets/car3 2.png">
            <p class="subtitulo">Econômico</p>
            <div class="textAlign:">
                <p class="text">Veículos baratos para atender todas os oramentos!</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/car2 1.png">
            <p class="subtitulo">Especial</p>
            <p class="text">Veículos baratos para atender todas os oramentos!</p>
        </div>
        <div class="card">
            <img src="../../assets/car1 1.png">
            <p class="subtitulo">Luxo</p>
            <p class="text">Veículos baratos para atender todas os oramentos!</p>
        </div>
    </div>

</main>
<app-footer></app-footer>