<main>
    <div class="form">
        <p class="titulo">Carros</p>
        <form [formGroup]="form">
            <input type="text" placeholder="Nome do carro" formControlName="nomeCarro">
            <select formControlName="tipo">
                <option value="0" disabled>Selecione o tipo</option>
            </select>
            <div class="flex">
                <input type="text" placeholder="Portas" class="inputMenor" formControlName="portas">
                <input type="text" placeholder="Num de Pessoas" class="inputMenor" formControlName="nPessoas">
            </div>
            <div class="flex">
                <select formControlName="locadora" class="selectMenor">
                    <option>Selecione a locadora</option>
                </select>
                <button class="cadastrar">Cadastrar</button>
            </div>
        </form>
    </div>
    <div class="todosCards">
        <p class="tituloCard">Popular</p>
        <div class="linha"></div>
        <div class="cards">

            <div class="card">
                <img src="../../assets/car3 2.png">
                <div class="maxWidth">
                    <p class="subtitulo">Fiat Uno 1.0</p>
                    <p class="text">Faça a sua reserva e garata a locação do automóvel.</p>
                    <button class="detalhes" >Detalhes</button>
                </div>
            </div>

        </div>


    </div>






</main>